@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&display=swap');

html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height:100vh;
  background-color: black;
  font-family:'JetBrains Mono';
  color: white;
}

#card{
  width:45vw;
  display:flex;
  flex-direction: column;
  border: 1px solid white;
  overflow:hidden;
}

#top-rectangle{
  border-bottom: 2px solid white;
  width:100%;
  font-size:150%;
  padding:3% 3% 3% 3%;
  box-sizing: border-box;
}

#bottom-rectangle{
  width:100%;
  font-size:80%;
  padding:3% 3% 3% 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap:15px;
}