@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&display=swap');

html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height:100vh;
  background-color: #042740;
  font-family:'JetBrains Mono';
  color: rgb(212, 212, 212);
  overflow:auto;
}

#card{
  width:60vw;
  display:flex;
  flex-direction: column;
  border: 1px solid rgb(212, 212, 212);
}

#top-rectangle{
  border-bottom: 1px solid rgb(212, 212, 212);
  width:100%;
  font-size:150%;
  padding:3% 3% 3% 3%;
  box-sizing: border-box;
}

#bottom-rectangle{
  width:100%;
  font-size:90%;
  padding:3% 3% 3% 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap:15px;
}

.inner-description{
  font-size:95%;
  margin:1% 0 1% 0;
}

a{
  text-decoration: underline;
  color:rgb(212, 212, 212);
}

img{
  width:25px;
  margin-right:1.9%;
  aspect-ratio: 1/1;
}

img:hover{
  filter:brightness(2000%);
}

#presentation-image{
  width:50%;
  margin-top:2%;
}

#prev-figma-image{
  width:75%;
  margin-top:2%;
}

#curr-page-video{
  width:100%;
  height:75%;
}

.nav-button{
  margin-right:2.5%;
}

.click-div{
  cursor: pointer;
  text-decoration: underline;
}

#social-icons{
  display: flex;
  flex-direction: row;
  gap:8px;
  justify-content: center;
}

@media(max-width:480px){
  #card{
    width:85vw;
  }
  #social-icons{
    display: flex;
    flex-direction: row;
    gap:8px;
    justify-content: center;
  }
  .nav-bar{
    display: flex;
    flex-direction: row;
    gap:8px;
    justify-content: center;
  }
  #presentation-image{
    width:75%;
  }
  #curr-page-video{
    width:100%;
    height:75%;
  }
}
